{% extends 'doctor/base.html' %}
{% block body_block %}
{% load bootstrap4 %}
{% load static %}


<div class="homepage-boxes">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4 mt-5 mt-lg-0">
                <div class="appointment-box">
                    <h2 class="d-flex align-items-center">Appointments-IITJ</h2>
                    <p></p>
                    <form method="POST" id="SearchPatientForm" action="{% url 'main:home_receptionist' %}" data-users-url="{% url 'hc:ajax_load_users' %}" novalidate>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <a href="{% url 'main:home_receptionist' %}"><button class="button bg" type="submit">View Appointment</button></a>
                    </form>

                    <!-- creating AJAX request using jquery for dependant dropdown list of users having same email -->
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <script>
                        $("#id_email").change(function () {
                        var url = $("#SearchPatientForm").attr("data-users-url");  // get the url of the `load_users` view
                        var EmailId = $(this).val();  // get the selected email ID of patient from the HTML input

                            $.ajax({                       // initialize an AJAX request
                                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                                data: {
                                'user_email': EmailId       // add the email id to the GET parameters
                                },
                                success: function (data) {   // `data` is the return of the `load_cities` view function
                                $("#id_username").html(data);  // replace the contents of the city input with the data that came from the server
                                }
                            });

                        });
                    </script>
                </div>
            </div>
                    <!-- jquery  -->
            <div class="col-12 col-md-4 col-lg-4 mt-5 mt-lg-0">
                <div class="appointment-box">
                    <h2 class="d-flex align-items-center">Doctor's Appointments</h2>
                    <form action =""method="POST">
                        {% csrf_token %}
                        {{ doc_form.as_p }}
                        <br>  
                        <button class="button bg" type="submit">View Appointments</button>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mt-5 mt-lg-0">
                <div class="opening-hours">
                    <h2 class="d-flex align-items-center">Recent Appointments</h2> 
                    {% if appointments.count == 0 %}
                <ul class="p-0 m-0">
                    <li>No Appointments!</li>
                </ul>
                {% else %}
                <ul class="p-0 m-0">
                    {% for appointment in appointments %}
                    <li> Dr.{{appointment.doctor.user.first_name}}<span>{{appointment.time}}</span><form action="{% url 'hc:cancelAppointment' appointment.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </form></li>
                    {% endfor %}
                </ul>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}