{% extends 'main/base.html' %}
{% load socialaccount %}
{% block body_block %}
{% load bootstrap4 %}
{% load static %}

<div style="padding-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="services-tabs">
                    <div class="tabs">
                        <!-- <ul class="tabs-nav d-flex flex-wrap">
                        <li class="tab-nav d-flex justify-content-center align-items-center" data-target="#tab_1">{{user.first_name}}</li>
                        <li class="tab-nav d-flex justify-content-center align-items-center" data-target="#tab_2">  Pellentesque lacinia </li>
                        <li class="tab-nav d-flex justify-content-center align-items-center" data-target="#tab_3">Consectetur diam</li>
                        <li class="tab-nav d-flex justify-content-center align-items-center" data-target="#tab_4">CMauris tortor</li>
                        <li class="tab-nav d-flex justify-content-center align-items-center" data-target="#tab_5">Phasellus sit amet</li>
                    </ul> -->

                        <div class="tabs-container">
                            <div id="tab_1" class="tab-content">

                                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" height="330px">
                                <h4>{{user.first_name}} {{user.last_name}} ({{patient.gender}})</h4>
                                <div class="row">
                                    <p>Height: {{patient.height}} feet</p>
                                    <div style="padding-left: 50px;"></div>
                                    <p>Weight: {{patient.weight}} Kgs</p>
                                </div>
                                <p>Birthday: {{patient.birthday}}</p>

                                <p>Blood Group: {{patient.blood_group}}</p>
                                <p>Past Diseases: {{patient.get_past_diseases_display }}</p>
                                <p>Other Diseases: {{patient.other_diseases}}</p>
                                <p>Allergies: {{patient.allergies}}</p>
                                <p>Roll no. / PF no. : {{patient.num}}</p>
                                <div class="row">
                                    <p>Phone Number : {{patient.phone_number}}</p>
                                    <div style="padding-left: 50px;"></div>
                                    <p>Emergency Number : {{patient.emergency_phone}}</p>
                                </div>


                                <div>
                                    <br>
                                    <h4 class="d-flex justify-content-between align-items-center mb-12">
                                        <span class="text-muted">Medical History</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        {% for prescription in patient.prescriptions.all %}
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">

                                            <div>
                                                <h6 class="my-0">Dr. {{prescription.doctor.user.first_name}}</h6>
                                                <small class="text-muted">{{prescription.remarks}}</small>
                                            </div>
                                            <span class="text-muted">ID: {{prescription.prescription_id}}</span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}