{% extends 'main/base.html' %}
{% block body_block %}

{% load static %}


{{patient.weight}}<br>
{{patient.height}}<br>
{{patient.blood_group}}<br>

{% for prescription in history %}
{{prescription.prescription_id}}
{{prescription.remarks}}
{{prescription.doctor}}<br>
{% endfor %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="services-tabs">
                <div class="tabs">
                    <ul class="tabs-nav d-flex flex-wrap">
                        <li class="tab-nav d-flex justify-content-center align-items-center" data-target="#tab_1">Pellentesque pulvinar</li>
                        <li class="tab-nav d-flex justify-content-center align-items-center" data-target="#tab_2">  Pellentesque lacinia </li>
                        <li class="tab-nav d-flex justify-content-center align-items-center" data-target="#tab_3">Consectetur diam</li>
                        <li class="tab-nav d-flex justify-content-center align-items-center" data-target="#tab_4">CMauris tortor</li>
                        <li class="tab-nav d-flex justify-content-center align-items-center" data-target="#tab_5">Phasellus sit amet</li>
                    </ul>

                    <div class="tabs-container">
                        <div id="tab_1" class="tab-content">
                            <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}">
                            <h4>celerisque, at rutrum nulla dictum. Ut ac ligula sapien. </h4>


                            <p>Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, viverra accumsan leo. Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus</p>
                        </div>

                        <div id="tab_2" class="tab-content">
                            <img src="images/service-tab-img.png" alt="">

                            <h4>Scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. </h4>

                            <p>Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, viverra accumsan leo. Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus</p>
                        </div>

                        <div id="tab_3" class="tab-content">
                            <img src="images/service-tab-img.png" alt="">

                            <h4>Scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. </h4>

                            <p>Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, viverra accumsan leo. Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus</p>
                        </div>

                        <div id="tab_4" class="tab-content">
                            <img src="images/service-tab-img.png" alt="">

                            <h4>Scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. </h4>

                            <p>Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, viverra accumsan leo. Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus</p>
                        </div>

                        <div id="tab_5" class="tab-content">
                            <img src="images/service-tab-img.png" alt="">

                            <h4>Scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. </h4>

                            <p>Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, viverra accumsan leo. Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}