{% extends 'main/base_forms.html' %}
{% block body_block %}
{% load bootstrap4 %}
{% load static %}



<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
	<form class="login100-form validate-form" method="POST">
		<span class="login100-form-title p-b-33">
			Update Profile
		</span>

		{% csrf_token %}
		<!-- {{ form.as_p }} -->
		{% bootstrap_form form %}

		<div class="container-login100-form-btn m-t-20">
			<button class="login100-form-btn">
				Update Profile
			</button>
		</div>
	</form>
	<br>
	<center><a href="{% url 'main:home' %}">Go Back</a></center>
</div>

{% endblock %}