{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>IIT Jodhpur</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../static/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Swiper CSS -->
  <link rel="stylesheet" href="../../static/css/swiper.min.css">

  <!-- Styles -->
  <link rel="stylesheet" href="../../static/css/style.css">
  <script src="../../static/js/custom.js"></script>
</head>

<body onload="resizeElementHeight()">
  <header class="site-header">
    <div class="nav-bar" style="padding-top: 3%;">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
            <div class="site-branding d-flex align-items-center">
              <!-- <a class="d-block" href="{% url 'main:home' %}" rel="home"><img class="d-block" src="{% static 'images/logo.png' %}"
                  alt="logo"></a> -->
            </div><!-- .site-branding -->

            <nav class="site-navigation d-flex justify-content-end align-items-center">
              <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                <li class="current-menu-item"><a href="{% url 'main:home' %}">Home</a></li>
                <!-- <li><a href="about.html">About us</a></li>
                              <li><a href="services.html">Services</a></li>
                              <li><a href="news.html">News</a></li>
                              <li><a href="contact.html">Contact</a></li> -->
                {% if user.is_authenticated %}

                <li>
                  <div class="dropdown">
                    <button class="dropbtn">{{user.first_name}} <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                      <a href="#">Profile</a>
                      <a href="{% url 'hc:history' %}">History</a>
                      <a href="{% url 'accounts:logout' %}">Logout</a>
                    </div>
                  </div>
                </li>
                {% else %}

                <li><a href="/auth/google/login">Login</a></li>
                {% endif %}
                <li class="call-btn button gradient-bg mt-3 mt-md-0">
                  <a rel="" typography="LinkAlpha" data-ux="Link" href="tel:+912912801183"
                    class="d-flex justify-content-center align-items-center"
                    data-tccl="ux2.HEADER.header9.Section.Default.Link.Default.55282.click,click"><img
                      src="../../static/images/emergency-call.png">+91 291 280 1183</a>
                </li>
              </ul>
            </nav>

            <div class="hamburger-menu d-lg-none">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </header>
  {% block body_block %}
  {% endblock %}

  <footer class="site-footer">
    <div class="footer-widgets">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="foot-about">
              <h2><a href="#"><img src="../../static/images/logo.png" alt=""></a></h2>

              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p> -->

              <p class="copyright">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>
                  document.write(new Date().getFullYear());
                </script> All rights reserved | This template is made with <i class="fa fa-heart"
                  aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div><!-- .foot-about -->
          </div><!-- .col -->

          <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
            <div class="foot-contact">
              <h2>Contact</h2>

              <ul class="p-0 m-0">
                <li><span>Addtress:</span>Mitlton Str. 26-27 London UK</li>
                <li><span>Phone:</span>+53 345 7953 32453</li>
                <li><span>Email:</span>yourmail@gmail.com</li>
              </ul>
            </div>
          </div><!-- .col -->

          <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
            <div class="foot-links">
              <h2>Usefull Links</h2>

              <ul class="p-0 m-0">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="#">Departments</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="news.html">FAQ</a></li>
                <li><a href="services.html">Testimonials</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>



  <script type='text/javascript' src='../../static/js/jquery.js'></script>
  <script type='text/javascript' src='../../static/js/jquery.collapsible.min.js'></script>
  <script type='text/javascript' src='../../static/js/swiper.min.js'></script>
  <script type='text/javascript' src='../../static/js/jquery.countdown.min. js'></script>
  <script type='text/javascript' src='../../static/js/circle-progress.min.js'></script>
  <script type='text/javascript' src='../../static/js/jquery.countTo.min.js'></script>
  <script type='text/javascript' src='../../static/js/jquery.barfiller.js'></script>
  <script type='text/javascript' src='../../static/js/custom.js'></script>
  <!-- </div> -->
</body>
<script>
  function resizeElementHeight() {
    console.log("a")
    document.getElementsByClassName("hero-content-wrap")[0].style.minHeight = window.innerHeight.toString() + "px"
  }
</script>

</html>