<div class="the-news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    {% if attr == 'doctor' %}
                        My Blogs
                    {% else %}
                        The Blogs
                    {% endif %}
                </h2>
                <div class="row">
                    {% for blog in blogs %}
                    
                        <div class="col-12 col-md-6 col-lg-4">
                                <div class="the-news-wrap">
                                    {% if attr == 'doctor' %}
                                        <a href="{% url 'main:edit_blog' blog.slug %}" style="text-decoration: underline;padding: 11px;">edit</a>
                                        <a href="{% url 'main:blog_details' blog.slug %}" style="text-decoration: underline;">view</a>
                                    {% endif %}
                                    <a href="{% url 'main:blog_details' blog.slug %}">
                                    <figure class="post-thumbnail">
                                            {% if blog.display_image %}
                                            <img src= "{{ blog.display_image.url }}" alt="" height="230px">
                                            {% endif %}
                                    </figure>
                                    <header class="entry-header">
                                        <h3 class="entry-title">{{ blog.title}}</h3>
                                        <div class="post-metas d-flex flex-wrap align-items-center">
                                            <div class="posted-date"><label>Date: </label>{{ blog.published_date}}</div>
                                            <div class="posted-by"><label>By: </label>{{ blog.author.user.first_name|capfirst }} {{ blog.author.user.last_name|capfirst }}</div>
                                            <!-- <div class="post-comments"><a href="#">2 Comments</a></div> -->
                                        </div>
                                    </header>
                                    <a href="{% url 'main:blog_details' blog.slug %}"><div class="entry-content">
                                        <p>{{ blog.short_description }}</p>
                                    </div></a>
                                </div>
                        </div>
                    </a>
                    {% endfor %}    
                </div>
            </div>
        </div>
    </div>
</div>
