{% extends 'main/base.html' %}
{% block body_block %}
{% load bootstrap4 %}
{% load static %}


<!-- Section: Team v.1 -->
<section class="team-section text-center">

	<!-- Section heading -->
	<h2 class="h1-responsive font-weight-bold my-5"><u>THE TEAM</u></h2>
	<!-- Section description -->
		
	<div class="container">
		<!-- Grid row -->
		<div class="row">
			<!-- Grid column -->
			<div class="col-12 col-lg-12 col-md-12">
				<div class="avatar mx-auto">
				<img src="https://drive.google.com/thumbnail?id=1wbvoZ05hDfYO-cTNRxA33a-q-Ae4Fmlk" class="rounded-circle z-depth-1 d-flex mx-auto"
					alt="Sample avatar">
				</div>
				<h5 class="font-weight-bold mt-2">Dr. Anand Mishra</h5>
				<p class="text-uppercase blue-text mt-2 mb-2">Mentor</p>
				<a class="fa fa-lg ins-ic" href="mailto:mishra@iitj.ac.in">
					<i class="fa fa-envelope blue-text"> mishra@iitj.ac.in</i>
				</a>
			</div>
			<!-- Grid column -->
		</div>
		<!-- Grid row -->

		<!-- Grid row -->
		<div class="row mt-4">
			<!-- Grid column -->
			<div class="col-12 col-md-6 col-lg-6">
				<div class="avatar mx-auto">
					<img src="https://drive.google.com/thumbnail?id=1prrgYu44J7-Ej0FA178_ltNwL7McCh1J" class="rounded-circle z-depth-1"
						alt="Sample avatar">
				</div>
				<h5 class="font-weight-bold mt-2">Harsh Anand</h5>
				<p class="text-uppercase blue-text mt-2 mb-2">Developer</p>
				<a class="fa fa-lg ins-ic" href="mailto:anand.2@iitj.ac.in">
					<i class="fa fa-envelope"> anand.2@iitj.ac.in </i>
				</a>
			</div>
			<!-- Grid column -->
		
			<!-- Grid column -->
			<div class="col-12 col-md-6 col-lg-6">
				<div class="avatar mx-auto">
				<img src="https://drive.google.com/thumbnail?id=18pmN6RazCqYODjZHu5m4DGopXOjYpKNB" class="rounded-circle z-depth-1 "
					alt="Sample avatar">
				</div>
				<h5 class="font-weight-bold mt-2">Yashvi Ramanuj</h5>
				<p class="text-uppercase blue-text mt-2 mb-2">Developer</p>
				<a class="p-2 fa fa-lg ins-ic" href="mailto:yashvi.1@iitj.ac.in">
					<i class="fa fa-envelope blue-text"> yashvi.1@iitj.ac.in </i>
				</a>
			</div>
			<!-- Grid column -->
		</div>
		<!-- Grid row -->


		<h4 class="h4-responsive font-weight-bold mb-5 pt-5 text-uppercase"><u>Special Thanks</u></h4>
		<!-- Grid row -->
		<div class="row">
			<!-- Grid column -->
			<div class="col-12 col-lg-4 col-md-6">
				<h5 class="font-weight-bold mt-4 mb-3">Anshul Ahuja</h5>
				<a class="p-2 fa fa-lg ins-ic" href="mailto:ahuja.2@iitj.ac.in">
					<i class="fa fa-envelope blue-text mb-3"> ahuja.2@iitj.ac.in</i>
				</a>
			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-12 col-lg-4 col-md-6">
				<h5 class="font-weight-bold mt-4 mb-3">Soham Sonawane</h5>
				<a class="p-2 fa fa-lg ins-ic" href="mailto:sonawane.1@iitj.ac.in">
					<i class="fa fa-envelope blue-text mb-3"> sonawane.1@iitj.ac.in</i>
				</a>
			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-12 col-lg-4 col-md-6">
				<h5 class="font-weight-bold mt-4 mb-3">Dheerendra Kumar Yadav</h5>
				<a class="p-2 fa fa-lg ins-ic" href="mailto:dk@iitj.ac.in">
					<i class="fa fa-envelope blue-text mb-3"> dk@iitj.ac.in</i>
				</a>
			</div>
			<!-- Grid column -->

			<!-- Grid row -->
		</div>
	</div>
		
	
</section>
{% endblock %}