{% extends 'main/base_forms.html' %}
{% block body_block %}
{% load bootstrap4 %}

	<!-- <div class="limiter"> -->
		<!-- <div class="container-login100"> -->
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form" enctype="multipart/form-data" method="POST" action="{% url 'main:edit_blog' slug=blog.slug %}">
					<span class="login100-form-title p-b-33">
						Edit Blog
					</span>
					{% csrf_token %}
					{{form.media}}
					{% bootstrap_form form %}

					<div class="container-login100-form-btn m-t-20">
						<a href="{% url 'main:edit_blog' blog.slug %}"><button class="login100-form-btn">
							Edit Blog
						</button></a>
					</div>
					
				</form>
			</div>
		<!-- </div> -->
	<!-- </div> -->

{% endblock %}