{% extends 'main/base.html' %}
{% block body_block %}
{% load static %}


<div class="swiper-container hero-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide hero-content-wrap" style="background-image: url('{% static 'images/background.png' %}')">
            <div class="hero-content-overlay position-absolute w-100 h-100">

                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1>IIT Jodhpur <br>Health Center</h1>
                            </header>

                            <div class="entry-content mt-4">
                                <p>Welcomes you!!</p>
                            </div>

                            <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                                <a href="#" class="button gradient-bg">Read More</a>
                            </footer>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="pagination-wrap position-absolute w-100">
        <div class="swiper-pagination d-flex flex-row flex-md-column"></div>
    </div>
</div>

<div class="homepage-boxes">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="opening-hours">
                    <h2 class="d-flex align-items-center">Today's Schedule</h2>

                    <ul class="p-0 m-0">
                        <li>Monday - Thursday <span>8.00 - 19.00</span></li>
                        <li>Friday <span>8.00 - 18.30</span></li>
                        <li>Saturday <span>9.30 - 17.00</span></li>
                        <li>Sunday <span>9.30 - 15.00</span></li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                <div class="emergency-box">
                    <h2 class="d-flex align-items-center">Emergency</h2>

                    <div class="call-btn button gradient-bg">
                        <a class="d-flex justify-content-center align-items-center" href="#"><img
                                src="../../static/images/emergency-call.png"> +91 291 280 1183</a>
                    </div>

                    <p>line 1</p>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-5 mt-5 mt-lg-0">
                <div class="appointment-box">
                    <h2 class="d-flex align-items-center">Make an Appointment</h2>

                    <form class="d-flex flex-wrap justify-content-between">
                        <select class="select-department">
                            <option value="value1">Select Department</option>
                            <option value="value2">Select Department 1</option>
                            <option value="value3">Select Department 2</option>
                        </select>

                        <select class="select-doctor">
                            <option>Select Doctor</option>
                            <option>Select Doctor 1</option>
                            <option>Select Doctor 2</option>
                        </select>

                        <input type="text" placeholder="Name">

                        <input type="number" placeholder="Phone No">

                        <input class="button gradient-bg" type="submit" value="Book Appoitnment">
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="our-departments">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="our-departments-wrap">
                    <h2>Our Departments</h2>

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="../../static/images/cardiogram.png" alt="">

                                    <h3>Cardioology</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem
                                        maximus mauris.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="../../static/images/stomach-2.png" alt="">

                                    <h3>Gastroenterology</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac
                                        ligula sapien.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="../../static/images/blood-sample-2.png" alt="">

                                    <h3>Medical Lab</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.
                                        Suspendisse cursus.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="../../static/images/teeth.png" alt="">

                                    <h3>Dental Care</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac
                                        ligula sapien.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="../../static/images/stretcher.png" alt="">

                                    <h3>Surgery</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.
                                        Suspendisse cursus.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="../../static/images/scanner.png" alt="">

                                    <h3>Neurology</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac
                                        ligula sapien.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 mb-md-0">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="../../static/images/bones.png" alt="">

                                    <h3>Orthopaedy</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.
                                        Suspendisse cursus.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 mb-lg-0">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="../../static/images/blood-donation-2.png" alt="">

                                    <h3>Pediatry</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac
                                        ligula sapien.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 mb-0">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="../../static/images/glasses.png" alt="">

                                    <h3>Ophthalmology</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.
                                        Suspendisse cursus.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Facilities</h2>
            </div>
        </div>
    </div>

    
    <div class="testimonial-slider">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <div class="testimonial-bg-shape">
                        <div class="swiper-container testimonial-slider-wrap">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="entry-content">
                                        A Primary Health Center (PHC) has been started at the Permanent Campus of 
                                        IIT Jodhpur from 15 June 2017. This fully equipped and self-sufficient facility 
                                        is run by M/s. Goyal Hospital & Research Center Private Limited, Jodhpur. 
                                        The facility is available to the residents of the Permanent Campus in Karwar. 
                                        Presently, the following facilities available at the PHC:<br>
                                            1.	Qualified Medical Doctors and Paramedical Staff,<br>
                                            2.	Physiotherapy Unit,<br>
                                            3.	Pharmacy,<br>
                                            4.	24 Hours Emergency Room, and an ICU Ambulance.  
                                    </div>
                                </div>

                                
                            <div class="swiper-pagination-wrap">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div
                                                class="swiper-pagination position-relative flex justify-content-center align-items-center">
                                            </div>
                                        </div><!-- .col -->
                                    </div><!-- .row -->
                                </div><!-- .container -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="the-news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>The Blogs</h2>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="the-news-wrap">
                            <figure class="post-thumbnail">
                                <a href="#"><img src="../../static/images/news-1.png" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3>The latest in Medicine</h3>

                                <div class="post-metas d-flex flex-wrap align-items-center">
                                    <div class="posted-date"><label>Date: </label><a href="#">April 12, 2018</a></div>

                                    <div class="posted-by"><label>By: </label><a href="#">Dr. Jake Williams</a></div>

                                    <div class="post-comments"><a href="#">2 Comments</a></div>
                                </div>
                            </header>

                            <div class="entry-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem
                                    maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse
                                    cursus faucibus finibus. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="the-news-wrap">
                            <figure class="post-thumbnail">
                                <a href="#"><img src="../../static/images/news-2.png" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3>All you need to know about pills</h3>

                                <div class="post-metas d-flex flex-wrap align-items-center">
                                    <div class="posted-date"><label>Date: </label><a href="#">April 12, 2018</a></div>

                                    <div class="posted-by"><label>By: </label><a href="#">Dr. Jake Williams</a></div>

                                    <div class="post-comments"><a href="#">2 Comments</a></div>
                                </div>
                            </header>

                            <div class="entry-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem
                                    maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse
                                    cursus faucibus finibus. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="the-news-wrap">
                            <figure class="post-thumbnail">
                                <a href="#"><img src="../../static/images/news-3.png" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3>Marketing and Medicine</h3>

                                <div class="post-metas d-flex flex-wrap align-items-center">
                                    <div class="posted-date"><label>Date: </label><a href="#">April 12, 2018</a></div>

                                    <div class="posted-by"><label>By: </label><a href="#">Dr. Jake Williams</a></div>

                                    <div class="post-comments"><a href="#">2 Comments</a></div>
                                </div>
                            </header>

                            <div class="entry-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem
                                    maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse
                                    cursus faucibus finibus. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="subscribe-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <h2>Subscribe to our newsletter</h2>

                <form>
                    <input type="email" placeholder="E-mail address">
                    <input class="button gradient-bg" type="submit" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="site-footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="foot-about">
                        <h2><a href="#"><img src="../../static/images/logo.png" alt=""></a></h2>

                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p> -->

                        <p class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This template is made with <i class="fa fa-heart"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div><!-- .foot-about -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                    <div class="foot-contact">
                        <h2>Contact</h2>

                        <ul class="p-0 m-0">
                            <li><span>Addtress:</span>Mitlton Str. 26-27 London UK</li>
                            <li><span>Phone:</span>+53 345 7953 32453</li>
                            <li><span>Email:</span>yourmail@gmail.com</li>
                        </ul>
                    </div>
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                    <div class="foot-links">
                        <h2>Usefull Links</h2>

                        <ul class="p-0 m-0">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="#">Departments</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="news.html">FAQ</a></li>
                            <li><a href="services.html">Testimonials</a></li>
                        </ul>
                    </div><!-- .foot-links -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-widgets -->
</footer><!-- .site-footer -->


{% endblock %}