@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700');

body {
    color: #404040;
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Raleway', sans-serif;
}

img {
    vertical-align: baseline;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
    color: #262626;
}

a:visited {
    color: #757686;
}

a:hover, a:focus, a:active {
    color: #262626;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
    list-style: none;
}

/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
.site-header {
    position: relative;
}

.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    padding: 20px 0;
}


.dropdown {
    float: center;
    /* overflow: hidden; */
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #404040;
    background-color: inherit;
    font-weight: 501;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: #00A8E0;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    z-index: 91;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 3px 7px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }




/*
# Site Branding
--------------------------------*/
.site-branding {
    width: calc(100% - 24px);
    padding: 20px 0;
}

.site-branding a {
    margin-top: 6px;
}

@media screen and (min-width: 992px){
    .site-branding {
        width: auto;
    }
}

/*
  Hamburger Menu
----------------------------------------*/
.hamburger-menu {
    position: relative;
    width: 24px;
    height: 22px;
    margin: 0 auto;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #262626;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
    top: 2px;
}

.hamburger-menu span:nth-child(2),
.hamburger-menu span:nth-child(3) {
    top: 10px;
}

.hamburger-menu span:nth-child(4) {
    top: 18px;
}

.hamburger-menu.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}

.hamburger-menu.open span:nth-child(2) {
    transform: rotate(45deg);
}

.hamburger-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.hamburger-menu.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}

/*
# Main Menu
--------------------------------*/
.site-navigation ul {
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 9999;
    width: 320px;
    max-width: calc(100% - 120px);
    height: 100%;
    padding: 30px 15px;
    margin: 0;
    background: #fff;
    list-style: none;
    overflow-x: scroll;
    transition: all 0.35s;
}

.site-navigation.show ul {
    left: 0;
}

.site-navigation ul li {
    margin: 0 24px;
}

.site-navigation ul li a {
    display: block;
    padding: 16px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    color: #404040;
    text-decoration: none;
    transition: color .35s;
}

/*
# Call Button
--------------------------------*/
.call-btn {
    min-width: 210px;
    padding: 8px 12px 6px !important;
    margin-left: 24px;
    margin-right: 0 !important;
}

.call-btn img {
    display: inline-block;
    margin-right: 12px;
}

.call-btn a {
    padding: 0 !important;
    font-size: 16px;
    font-weight: 600;
    color: #fff !important;
}

@media screen and (min-width: 992px) {
    .site-navigation ul {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 0;
        overflow: auto;
        background: transparent;
    }

    .site-navigation ul li a {
        padding: 30px 0;
    }
}

.site-navigation ul li a:hover,
.site-navigation ul li.current-menu-item a {
    color: #00A8E0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-slider {
    max-height: 950px;
}

.hero-content-wrap {
    min-height: 700px;
    overflow: hidden;
    /* background-size: 100%, auto; */
    position: relative;
    color: #fff;
    /* background-image: url('../images/background.jpg'); */
    background-size: cover;
    background-position: center;
}

.hero-content-overlay {
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
}

.hero-content-overlay h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
    color: #404040;
}

.hero-content-overlay p {
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    color: #828282;
}

.hero-slider .pagination-wrap {
    top: 50%;
    left: 0;
    z-index: 99;
    width: 120px;
    margin-top: -60px;
}

.hero-slider .swiper-pagination-bullet {
    width: 120px;
    height: 28px;
    margin-bottom: 12px;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    font-weight: 600;
    color: #aaaaaa;
    background: transparent;
    opacity: 1;
    text-align: right;
}

.hero-slider .swiper-pagination-bullet-active {
    color: #00A8E0;
    border-color: #00A8E0;
}

@media screen and (max-width: 1400px) {
    .hero-slider .swiper-pagination-bullet {
        width: 60px;
    }
}

@media screen and (max-width: 576px) {
    .hero-slider .pagination-wrap {
        top: auto;
        bottom: 60px;
        margin-top: 0;
    }

    .hero-slider .swiper-pagination-bullet {
        width: 30px;
        margin-left: 15px;
    }
}

/*
# Button
----------------------------------*/
.button {
    padding: 12px 50px 10px;
    margin-right: 32px;
    border: 0;
    border-bottom: 3px solid #00A8E0;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    color: #404040;
    outline: none;
    background: #f0f4f8;
    text-decoration: none !important;
}

.button:focus {
    outline: none;
    box-shadow: none;
}

.button.dark {
    border-color: transparent;
    color: #fff;
    background: #00A8E0;
}
.button.bg{
    background: #00A8E0;
    color:#fff;
}

/*
# Tabs
----------------------------------*/
ul.tabs-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.tabs-nav .tab-nav {
    padding: 12px 24px;
    margin-right: 6px;
    margin-bottom: 10px;
    background: #eaf1f3;
    font-size: 16px;
    font-weight: 600;
    color: #404040;
    cursor: pointer;
    transition: all .35s;
}

ul.tabs-nav .tab-nav.active {
    border: 0;
    /* ff3.6+ */
    /* background: -moz-linear-gradient(180deg, var(--light) 0%, var(--dark) 100%);  */
    /* safari4+,chrome */
    /* background: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--light)), color-stop(100%, var(--dark)));  */
    /* safari5.1+,chrome10+ */
    /* background: -webkit-linear-gradient(180deg, var(--light) 0%, var(--dark) 100%);  */
    /* opera 11.10+ */
    /* background: -o-linear-gradient(180deg, var(--light) 0%, var(--dark) 100%); */
    /* ie10+ */
    /* background: -ms-linear-gradient(180deg, var(--light) 0%, var(--dark) 100%); */
    /* w3c */ 
    /* background: linear-gradient(270deg, var(--light) 0%, var(--dark) 100%);  */
    /* ie6-9 */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00A8E0', endColorstr='var(--dark)',GradientType=1 );  */
    background: #00A8E0;
    color: #fff;
}

.tabs .tab-nav {
    margin-bottom: -1px;
    z-index: 99;
}

.tabs-container {
    padding: 60px 0;
}

.tab-content {
    display: none;
}

.tab-content img {
    float: left;
    margin-right: 32px;
    margin-bottom: 32px;
}

.tab-content h4 {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 600;
    color: #404040;
}

.tab-content p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 2;
    color: #929191;
}

/*
# Bar Filler
----------------------------------*/
.barfiller {
    position:relative;
    width:100%;
    height:5px;
    border-radius: 3px;
    background:#d6dee1;
}

.barfiller .fill {
    display:block;
    position:relative;
    width:0px;
    height:100%;
    border-radius: 3px;
    background:#333;
    z-index:1;
}

.barfiller .tipWrap {
    display:none;
}

.barfiller .tip {
    left: 0;
    position: absolute;
    z-index: 2;
    width: 42px;
    height: 42px;
    padding-top: 14px;
    margin-top: -21px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    background: #00A8E0;
    color: #fff;
}

/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/
.homepage-boxes {
    padding: 110px 0;
}

/*
# Opening Hours
--------------------------------*/
.opening-hours,
.emergency-box,
.appointment-box,
.contact-info {
    position: relative;
    padding: 32px;
    border-radius: 20px;
    border: 2px solid #dde4ea;
}

.opening-hours {
    border-color: #00A8E0;
}

.opening-hours h2,
.emergency-box h2,
.appointment-box h2,
.contact-info h2 {
    position: absolute;
    top: -24px;
    left: -2px;
    height: 48px;
    padding-right: 16px;
    background: #fff;

    font-size: 24px;
    font-weight: 600;
    color: #404040;
}

.opening-hours ul {
    list-style: none;
}

.opening-hours ul li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #828282;
}

.opening-hours ul li span {
    display: inline-block;
    margin-left: 5px;
}

/*
# Emergency
--------------------------------*/
.emergency-box {
    padding: 16px;
}

.emergency-box p {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 13px;
    font-style: italic;
    color: #828282;
}

.emergency-box .call-btn {
    max-width: 220px;
    margin: 24px auto !important;
}

/*
# Make an Appointment
--------------------------------*/
.appointment-box {
    padding: 16px;
}

.appointment-box form {
    margin-top: 24px;
}

.appointment-box form select,
.appointment-box form input[type="text"],
.appointment-box form input[type="number"] {
    display: block;
    width: calc(50% - 5px);
    padding: 12px 16px ;
    margin-bottom: 10px;
    border: 0;

    font-size: 12px;
    font-style: italic;
    color: #828282;
    background: #f0f4f8;
    outline: none;
}

.appointment-box form input[type="submit"] {
    margin-top: 16px;
}

/*
# Section: Testimonial
--------------------------------*/
.testimonial-section {
    margin-top: 100px;
    position: relative;
    height: 100%;
    padding: 100px 0;
}

.testimonial-section h2 {
    margin-bottom: 40px !important;
}

.testimonial-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
    background: url("../images/testimonial-bg.jpg") no-repeat right center;
    background-size: cover;
}

.testimonial-slider {
    position: relative;
}

.testimonial-slider-wrap {
    position: relative;
    padding: 72px 100px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 40px 20px 27px rgba(0,0,0,.1);
}

.testimonial-bg-shape {
    position: relative;
}

.testimonial-bg-shape::before {
    content: '';
    position: absolute;
    bottom: -90px;
    left: -130px;
    z-index: -1;
    width: 499px;
    height: 492px;
    background: url("../images/testimonial-p-bg.png") no-repeat;
}

.testimonial-slider .content-wrap {
    background: #fff;
}

.testimonial-slider .entry-content p {
    position: relative;
    margin-top: 40px;
    font-size: 16px;
    line-height: 2;
    font-style: italic;
    color: #828282;
}

.testimonial-slider .entry-content p::before {
    content: '';
    position: absolute;
    top: -80px;
    left: 0;
    width: 46px;
    height: 46px;
    background: url("../images/testimonial-p-bg.png") no-repeat;
}

.testimonial-slider .testimonial-user {
    display: inline-block;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #404040;
}

.testimonial-slider .testimonial-user span {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 500;
    color: #828282;
}

.testimonial-slider .user-avatar {
    width: 78px;
    height: 78px;
    margin-top: 56px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #00A8E0;
}

.testimonial-slider .user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-wrap {
    position: absolute;
    left: 0;
    bottom: 150px;
    z-index: 99;
    width: 100%;
}

@media screen and (max-width: 768px){

    .testimonial-slider-wrap {
        padding: 72px 30px 120px;
    }

    .swiper-pagination-wrap {
        bottom: 30px;
    }
}

.testimonial-slider .swiper-pagination-bullet {
    width: 52px;
    height: 52px;
    margin: 0 8px;
    opacity: 1 !important;
}

.testimonial-slider .swiper-pagination-bullet:nth-of-type(1) {
    background: url("");
}

/*
# News (Blogs section on Home Page)
--------------------------------*/
.the-news {
    padding: 100px 0 40px;
}

.the-news h2,
.testimonial-section h2 {
    margin-bottom: 80px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: #404040;
}

.testimonial-section h2 {
    text-align: left;
}

.the-news-wrap {
    margin: 20px 10px;
    background-color: #f4f4f4;
    height: 520px;
    overflow: hidden;
}

.the-news-wrap figure {
    margin: 0;
}

.the-news-wrap figure img {
    width: 100%;
}

.the-news-wrap h3 {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
    color: #404040;
}

.the-news .post-metas {
    margin-top: 12px;
    font-size: 12px;
    font-weight: 600;
    color: #828282;
}

.the-news .post-metas > div {
    margin-right: 16px;
}

.the-news .post-metas label {
    margin: 0;
    color: #00A8E0;
}

.the-news .post-metas a {
    color: #828282;
}

.the-news-wrap .entry-header{
    margin: 10px 30px;
}

.the-news-wrap .entry-title{
    text-transform: uppercase;
}

.the-news-wrap .entry-content {
    margin-top: 16px;
    padding-left: 30px;
    padding-right: 30px;
}

.the-news-wrap .entry-content p {
    font-size: 14px;
    line-height: 1.5;
    color: #828282;
}

.the-news a:hover{
    text-decoration: none;
}

/*--------------------------------------------------------------
# Blog Content
--------------------------------------------------------------*/
.blog-wrap{
    margin: 0 40px;
}

.blog-cover img{
    padding-top: 20px;
    margin: 0;
    width: 100%;
    object-fit: cover;
    height: auto;
    max-height: 600px;
}

.blog-wrap .blog-title{
    text-transform: uppercase;
}

.blog-wrap .blog-content p{
    text-align: justify;
    line-height: 1.5;
}

.blog-wrap .blog-info{
    display: inline;
}
.blog-wrap .blog-info label{
    margin: 0;
    color: #00A8E0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services-tabs {
    margin: 100px 0;
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
@media screen and (min-width: 992px){
    .pagination {
        margin-bottom: 100px;
    }
}

.pagination a {
    margin-right: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    color: #828282;
    text-decoration: none;
}

.pagination a:hover,
.pagination .active a {
    color: #00A8E0;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer{
    /* background: linear-gradient(rgba(0,168,224,0.65), rgba(0,168,224,0.65)); */
    position: relative;
    padding: 20px 0;
    background-size: cover;
    /* background: url("../images/footer-bg.png") no-repeat center #fff; */
    font-size: 14px;
    color: #828282;
}

.footer_content{
	padding-top: 30px;
	padding-bottom: 30px;
}

.footer_row{
	margin-top: 39px;
}

.footer_title{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #404040;
    font-size: 25px;
	font-weight: 550;
	text-transform: uppercase;
    line-height: 1.2;
    padding-top: 40px;
}

.footer_list{
    list-style-type: none;
    margin-top: 25px;
}

.footer_list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer_list ul li:not(:last-of-type){
    margin-bottom: 15px;
}

.footer_list ul li{
	font-size: 14px;
	font-weight: 600;
    font-weight: 700;   
}

.footer_bar{
	height: 56px;
}

.copyright{
	font-size: 11px;
	font-weight: 700;
	color: #2b2932;
}

/*--------------------------------------------------------------
# developers page
--------------------------------------------------------------*/

.team-section{
    position: relative;
    padding-top: 60px;
}