{% extends 'doctor/base.html' %}
{% block body_block %}
{% load bootstrap4 %}
{% load static %}
<div class="homepage-boxes">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="appointment-box">
                    <h2 class="d-flex align-items-center">Next Patients</h2>
                    <p></p>

                    Treat the next patient in the queue.<br><br>
                    <a href="{% url 'hc:prescription' %}"><button class="button bg" type="submit">Treat
                            Patient</button></a>

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-5 mt-5 mt-lg-0">
                <div class="appointment-box">
                    <h2 class="d-flex align-items-center">Patients</h2>
                    <p></p>

                    <form method="POST" action="hc/treatPatient/">
                        {% csrf_token %}
                        <!-- {{form}} -->
                        {% bootstrap_form form %}
                        <a href="{% url 'hc:prescription' %}"><button class="button bg" type="submit">Treat
                                Patient</button></a>
                    </form>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                <div class="appointment-box">
                    <h2 class="d-flex align-items-center">Blogs</h2>
                    <p></p>
                    <a href="{% url 'main:AddBlog' %}"><button class="button bg" type="submit">Write a
                            Blog</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}