{% extends 'main/base_forms.html' %}
{% block body_block %}
{% load bootstrap4 %}

<div class="limiter">
{% if messages %}
	{% for message in messages %}
		<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
	{% endfor %}
{% endif %}
<div class="container-login100">
	<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
		<div class="container-login100-form-btn m-t-20">
			<a href="{% url 'main:home' %}">
				<-Go Back to Home</a> </div> {% if appointment %} <form class="login100-form validate-form"
					enctype="multipart/form-data" method="POST">

					{% csrf_token %}
					Patient: {{patient.user.first_name}} {{patient.user.last_name}}
					{% bootstrap_form form %}
					<!-- <input type="text" name=> -->
					<!-- <p>
						{{ appointment.prescription.prescription_id }}
						<span>Patient: {{ appointment.patient.email }} </span><br>
						<span>Prescribed by: {{ appointment.doctor.email }} </span>
					</p> -->

					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn">
							Submit
						</button>
					</div>

					</form>

					{% else %}
					<p>It seems that the patient has not taken the appointment</p>

					{% endif %}
		</div>
	</div>
</div>

{% endblock %}